<div class="jumbotrom mt-4">
	<h1 class="display-4">Notes App Nodejs and Mongodb</h1>
	<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptate dolor aspernatur, in eaque asperiores!</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, labore pariatur velit amet quisquam vero accusamus ipsum earum nobis exercitationem!</p>
	<a href="#" class="btn btn-primary">Hello</a>
</div>